.footer {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .copyright {
    margin-right: 20px;
  }
  
  .social-links {
    margin-right: 20px;
  }
  
  .social-links a {
    margin-right: 10px;
    color: #fff;
  }
  
  .social-links a:hover {
    color: #ccc;
  }
  